@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --breakpoint: 768px;
}

body {
  margin: 0;
  font-family: "PT Serif", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  overflow-x: hidden;
}

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

p {
  line-height: 1.5;
}

.section-title-text {
  font-size: calc(28px + 1vw);
  font-weight: 700;
  text-align: center;
}

.bordering {
  border: 2px solid red;
}
